# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
.env
*.env

# SQLite DB
*.sqlite3
*.db

# Flask/Migrations
instance/
.mypy_cache/
.pytest_cache/
*.log
 
# Mac & IDEs
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Netlify/Render/Deployment
.netlify/
node_modules
